<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/temp.jpg" class="img-responsive img-circle" alt="" height="128" width="128">
            <h1>Walton Lee</h1>
            <h2>Portfolio</h2>
            <hr>
            <p>Welcome to my website! My name is Walton Lee and I am currently a software
            engineer at Everquote in Cambridge, MA.
            My interests include big data, computer graphics and web development. I'm also a huge
            fan of Ultimate Frisbee, Settlers of Catan and games in general.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
