<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/temp.jpg" class="img-responsive img-circle" alt="" height="128" width="128">
            <h1>Walton Lee</h1>
            <h2>Portfolio</h2>
            <hr>
            <p>Welcome! My name is Walton Lee and am a software engineer with 5 years
            of industry experience, specializing in full-stack web development, cloud computing, 
            and software observability. Outside of software development, I'm a competitive 
            Ultimate Frisbee player and am a coach for the under-24 Hong Kong National Team</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
