<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://biggamehunter.herokuapp.com" class="portfolio-box">
                    <img src="img/portfolio/BGH.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Development
                            </div>
                            <div class="project-name">
                                Big Game Hunter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://waltonlee.github.io/disctrack" class="portfolio-box">
                    <img src="img/portfolio/disctrack.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ultimate Frisbee Stat Tracker
                            </div>
                            <div class="project-name">
                                Disctrack
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://waltonlee.github.io/Terraform" class="portfolio-box">
                    <img src="img/portfolio/Terraform.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Graphics
                            </div>
                            <div class="project-name">
                                Terraform
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://waltonlee.github.io/OpenAQvizmap" class="portfolio-box">
                    <img src="img/portfolio/OpenAQ.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Visualization
                            </div>
                            <div class="project-name">
                                OpenAQ Bubble Map
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://crystalcavernstufts.weebly.com/" class="portfolio-box">
                    <img src="img/portfolio/crystalcaverns.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game Design
                            </div>
                            <div class="project-name">
                                Crystal Caverns
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/waltonlee/Raytracer" class="portfolio-box">
                    <img src="img/portfolio/mirrorballs.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computer Graphics
                            </div>
                            <div class="project-name">
                                Recursive Ray Tracer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/waltonlee/GalaxyClassification" class="portfolio-box">
                    <img src="img/portfolio/galaxy.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Galaxy Classification
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/nwinters13/Podium" class="portfolio-box">
                    <img src="img/portfolio/kinect.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kinect - WPF Application
                            </div>
                            <div class="project-name">
                                Podium
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4beast.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Graphic Design - Illustrator
                            </div>
                            <div class="project-name">
                                Personal Project
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/jerseys.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Graphic Design - Illustrator
                            </div>
                            <div class="project-name">
                                Jerseys
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
